<!-- Mettre ici les élément formulaire pour l'ajout  -->
<div class="add_medic_hist">
    <!-- Button trigger modal -->
    <button type="button" class="" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        +
    </button>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">

        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">

                <!--<div class="modal-header">-->
                <div class="medic_modal_header">
                    <h5 class="modal-title" id="staticBackdropLabel">Aouter un antécédent médicale</h5>
                    <!--<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
                    <button type="button" class="full" data-bs-dismiss="modal" aria-label="Close">X</button>
                </div>

                <div class="medic_modal_body">
                    <!-- Voir si on met la possibilité d'en ajouter plusieur d'un coup ou 1 par 1     -->
                    <p> Ajouter les donnée</p>
                </div>

                <div class="medic_modal_footer">
                    <!-- Ajouter une alerte en cas de fermeture sans enregistrement -->
                    <button type="button" class="" data-bs-dismiss="modal">Fermer</button>
                    <button type="button" class="full">Enregistrer</button>
                </div>

            </div>
        </div>
    </div>


</div>