/* [theme="light"] {
    --primary: #E86358;
    --secondary: #E59389;
    --third: #fd8776;
    --fourth: #f3c4bc;
    --fifth: #fef3ef;
    --sixth: #82799D;
    --seventh: #EDECF4;
} */

@import url('theme.css');

@import url('./query.css');


body {
    height: 100vh;
    /* width: 100vh; */
}

/* .content_body */
/* body div:first-child { */
.content_body {
    /* body div { */
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 100vh !important
        /**/
    ;
    /* width: 90vh !important; test a 90vh */
    justify-content: space-evenly;
    align-items: center;
}


/* Style pour les zone de texte */
h1,
h2,
h3,
h4,
h5 {
    color: var(--primary) !important;
}

p,
em {
    color: var(--sixth) !important;
}

a {
    text-decoration: none !important;
    color: var(--primary) !important;
}


/* Style pour un effet bouton sur les balise a  */
button,
.button_link {
    width: 90% !important;
    background-color: transparent;
    border: 1px solid var(--primary);
    border-radius: 8px !important;
    margin: 15px auto !important;
    height: 35px !important;
}

.full {
    background-color: var(--primary) !important;
    color: #ffffff !important;
}


form {
    width: 100% !important;
}



/* Style pour la navbar */
.navbar {
    /* width: 100vh; */
    width: 100%;
    background-color: #FFFFFF;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-evenly !important;
    position: sticky !important;
    bottom: 0px;
}

.inline_block {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    justify-content: space-between !important;
}

.home_block {
    width: 100%;
    background-color: var(--seventh);
    border: 1px solid var(--seventh);
    border-radius: 12px;
    margin: 7px 10px;
    padding: 0px 10px;
}

.home_header {
    width: 100%;
    margin: 10px !important;
    padding: 10px !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;


}

/* btn */
/* .add_medic_hist {
    
} */

.medic_modal_header {
    /* width: 100%; */
    margin: 10px 15px !important;
    padding: 10px;    
    border-bottom: 1px solid var(--primary);
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between;
}


.medic_modal_header button {
    width: 40px !important;
    margin: 2px 10px !important;
}

/* .medic_modal_body {} */

/* */

.medic_modal_footer{
    display: flex !important;
    flex-direction: row !important;
    margin: 15px 0px !important;

}

.medic_modal_footer button {
    width: 30% !important;
}