{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'style/tutorial.css' %}" /> {% endblock %}

{% block title %} Accueil {% endblock %}

{% block content %}

<div class="tuto_step">
    <img src="{% static 'assets/tutorial/new_patient.svg' %}" alt="">

    <h1>Toujours Connecté à Vos Proches</h1>
    <p>
        Vos proches peuvent suivre votre état de santé via CircleCare.
        En cas d'alerte, ils sont immédiatement informés.
        Plus besoin de s’inquiéter, ils sont toujours avec vous, même à distance.
    </p>

    <div class="tuto_step_footer">
        <a href="{% url 'home' %}"> Passer le tutoriel</a>
    </div>
</div>
{% endblock %}