@import url('style.css');

.medic_hist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.add_medic_hist  {
    display: flex;
    justify-content: end;
    align-items: center;
}

.add_medic_hist button {
    width: 50px;
    height: 50px;
    background-color: #FEC62F;
    color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}