@import url('style.css');

/* Page HOME */

.home_header {
    /* margin-top: 25px; */
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-evenly !important;

}

.account_avatar {
    border: 5px solid var(--seventh) !important;
    border-radius: 50%;
}

.home_block a {
    width:100%;
    display: flex !important;
    flex-direction: column !important;
    flex-wrap: nowrap !important;
    align-items: center !important;
}

.home_block a div {
    width: 90%;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-evenly !important;
    background-color: var(--seventh);
    border: 1px solid var(--seventh);
    border-radius: 12px;
    margin: 20px auto;
}

.home_block a div h5 {
    width: 45%;
    align-self: center;
    text-align: center;
}