[theme="light"] {
    --primary: #E86358;
    --secondary: #E59389;
    --third: #fd8776;
    --fourth: #f3c4bc;
    --fifth: #fef3ef;
    --sixth: #82799D;
    --seventh: #EDECF4;

}

/* Global */
.content_body {
    margin-top: 25px !important;
}

h1,h2,h3,h4,h5 {
    color: var(--primary) !important;
    padding: 5px auto;
}

p {
    color: #82799D !important;
}

a {
    text-decoration: none !important;
    color: var(--primary) !important;
}


button {
    width: 90%;
    border: 1px solid var(--primary);
    border-radius: 8px !important;
    margin-top: 10px !important;
}

.btn_full, .btn_full a {
    background-color: var(--primary) !important;
    color: #ffffff !important;
}

.btn_empty, .btn_empty a  {
    background-color: none !important;
    color: var(--primary) !important;
}

.connexion_form div {
    width: 50% !important;
    display: inline-flex;
    justify-content: center;
}

