[theme="light"] {
    --primary: #E86358;
    --secondary: #E59389;
    --third: #fd8776;
    --fourth: #f3c4bc;
    --fifth: #fef3ef;
    --sixth: #82799D;
    --seventh: #EDECF4;

    /* --button: */
}

a {
    text-decoration: none !important;
}

h1,h3,h4,h5 {
    color: var(--primary) !important;
}

button {
    width: 90%;
    border: 1px solid var(--primary);
    border-radius: 8px !important;
    margin-top: 10px !important;
}

.signUp,
.signUp a {
    background-color: var(--primary) !important;
    color: #ffffff !important;
}

.signIn,
.signIn a {
    color: var(--primary) !important;
}

.connexion_form div {
    width: 50% !important;
    display: inline-flex;
    justify-content: center;
}

/* Page HOME */

.home_header {
    margin-top: 25px;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-evenly !important;

}

.account_avatar {
    border: 5px solid var(--seventh) !important;
    border-radius: 50%;
}

.home_block a {
    width:100%;
    display: flex !important;
    flex-direction: column !important;
    flex-wrap: nowrap !important;
    /* justify-content: center !important; */
    align-items: center !important;
}

.home_block a div {
    width: 90%;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-evenly !important;
    background-color: var(--seventh);
    border: 1px solid var(--seventh);
    border-radius: 12px;
    margin: 20px auto;
}

.home_block a div h5 {
    width: 45%;
    align-self: center;
    text-align: center;
}