{% extends 'base.html' %}
{% load static %}

{% block title %} Connexion {% endblock %}

{% block content %}
<div class="text-center">
    <h3>Content de te revoir</h3>
    <h1>Connexion</h1>

    <img src="{% static 'assets/Logo_2_nobackground.png' %}" alt="Logo de Circle Care">

    <!-- <form> -->
    <div class="connexion_form">
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" describedby="passwordHelp"
                placeholder="Password" autocomplete="off">
            <label for="floatingPassword">Mot de passe</label>
        </div>
        <div id="passwordHelp" class="form-text text-end">Mot de passe oublié ?</div>

        <button class="btn_full">
            <a href="{% url 'tutoStepOne' %}">Connexion</a>
        </button>

        <div class="d-flex flex-row">
            <p> Pas de compte ? </p>
            <a href="{% url 'register' %}"> Inscription</a>
        </div>

    </div>
    <!-- </form> -->
</div>
{% endblock %}