{% extends 'base.html' %}
{% load static %}

<!-- changer le css -->
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'style/home.css' %}" /> {% endblock %}

{% block title %} Accueil {% endblock %}



{% block content %}

{# {% include "components/homeHeader.html" %} #}

<div class="inline_block">
    <i class="em em-wave" aria-role="presentation" aria-label="WAVING HAND SIGN"></i>

    <!-- TODO: Changer avec données bdd -->
    <h4>Bonjour Gertrude</h4>
    <img class="account_avatar" src="{% static 'assets/account/account_avatar.svg' %}" alt="">
</div>

<div class="home_block">
    <a href="{% url 'vitalSigns' %}">
        <div class="inline_block ">
            <h5>Signes vitaux</h5>
            <img class="" src="{% static 'assets/home/Illustration.svg' %}" alt="">
        </div>
    </a>
</div>

<div class="home_block">
    <a href="{% url 'medicalHistory' %}">
        <div class="inline_block">
            <h5>Antécédents médicaux</h5>
            <img class="" src="{% static 'assets/home/Illustration-1.svg' %}" alt="">
        </div>
    </a>
</div>

<div class="home_block">
    <a href="{% url 'laboratoryResult' %}">
        <div class="inline_block">
            <h5>Résultat laboratoire</h5>
            <img class="" src="{% static 'assets/home/Illustration-2.svg' %}" alt="">
        </div>
    </a>
</div>
<div class="home_block">
    <a href="{% url 'advice' %}">
        <div class="inline_block">
            <h5>Conseil en direct</h5>
            <img class="" src="{% static 'assets/home/Illustration-3.svg' %}" alt="">
        </div>
    </a>
</div>

<div class="home_block">
    <a href="{% url 'findWatch' %}">
        <div class="inline_block">
            <h5>Retrouver votre bracelet connecté</h5>
            <img class="" src="{% static 'assets/home/Illustration-4.svg' %}" alt="">
        </div>
    </a>
</div>

{% include "components/navbar.html" %}

{% endblock %}