<!-- Template équivalent page index -->

{% extends 'base.html' %}
{% load static %}

<!-- TODO: Voir pour changer le titre -->
{% block title %} Inscritpion/Connexion {% endblock %}

{% block content %}
<!-- <div class=""></div> -->
    <h3>Bienvenue</h3>
    <h1>CircleCare</h1>
    <img src="{% static 'assets/logo_no_bg.svg' %}" alt="Logo de Circle Care">

    <!-- Redirige vers la page d'inscription -->
    <a class="button_link full" href="{% url 'register' %}">Inscription</a>

    <!-- Redirige vers la page de connexion -->
    <a class="button_link" href="{% url 'connect' %}">Connexion</a>


{% endblock %}