{% extends 'base.html' %}
{% load static %}

{% block title %} Inscritpion/Connexion {% endblock %}

{% block content %}
<div class="text-center">
    <h3>Bienvenue</h3>
    <h1>CircleCare</h1>
    <img src="{% static 'assets/Logo_2_nobackground.png' %}" alt="Logo de Circle Care">

    <!-- TODO: changer car renvoie sur un page success dans tous les cas  -->
    <button class="btn_full">
        <a href="{% url 'register' %}">Inscription</a>
    </button>
    
    <button class="btn_empty">
        <a href="{% url 'connect' %}">Connexion</a>
    </button>

</div>
{% endblock %}