{% extends 'base.html' %}
{% load static %}

{% block title %} Connexion {% endblock %}

{% block content %}
    <div class="text-center">
        <h3>Content de te revoir</h3>
        <h1>Connexion</h1>
    
        <img src="{% static 'assets/Logo_2_nobackground.png' %}" alt="Logo de Circle Care">
        
        <div>
            <form class="connexion_form" method="post">
                {% csrf_token %}
                <div class="form-floating mb-3">
                    {{ form.email }}
                    {{ form.email.label_tag }}
                </div>
                <div class="form-floating">
                    {{ form.password }}
                    {{ form.password.label_tag }}
                </div>
                <div id="passwordHelp" class="form-text text-end">Mot de passe oublié ?</div>
        
                <button type="submit" class="btn_full">Connexion</button>
            </form>
            <div class="d-flex flex-row">
                <p> Pas de compte ? </p>
                <a href="{% url 'register' %}"> Inscription</a>
            </div>
        </div>
    </div>
{% endblock %}